@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

/* General common styles */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: Roboto, sans-serif;
    align-items: center;
    flex-direction: column;
}

ul, a {
    list-style: none;
    text-decoration: none;
}

.header,
.footer {
    background-color: #1F2937;
}


/* Typography and colors*/

.logo-name {
    font-size: 24px;
    color: #F9FAF8;
}

.header-herotext {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.header-subtext, a {
    font-size: 18px;
    color: #E5E7EB;
}

.header-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
}

.menu-name {
    color: #1F2937;
    font-size: 36px;
    font-weight: 700;
}

.card {
    color: #1F2937;
    font-size: 18px;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    color: #1F2937;
    font-weight: 700;
}

/* Header section */

.header,
.header-description {
    display: flex;
    flex-direction: column;
}

.header-nav,
.header-logo,
.header-links,
.header-content, ul {
    display: flex;
}

.header {
    flex: 1;
    max-width: 70%;
    max-height: fit-content;
    padding: 0 150px;
}
    /* Nav bar */
        .header-nav {
            align-items: center;
            justify-content: space-between;
            padding: 8px 0;
        }

        .header-logo{
            align-items: center;
        }

        .logo-img {
            height: 52px;
        }

        .header-links {
            gap: 16px;
        }
    /* Content */
        .header-content {
            align-items: center;
            gap: 80px;
            padding: 50px 0;
        }

        .header-description {
            gap: 15px;
        }

        .header-button {
            width: fit-content;
            border: 0;
            border-radius: 10px;
            padding: 10px 30px;
        }

        .header-img {
            max-height: 250px;
            border: 3px solid #3882F6;
            border-radius: 10px;
        }

/* Menu section */

.menu,
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-name {
    padding: 40px 0;
}

.menu-cards {
    display: flex;
    gap: 60px;
    margin-bottom: 40px;
}

.card {
    gap: 15px;
}

.card-img {
    height: 150px;
    opacity: 0.8;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

/* Quote section */

.quote {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 70%;
    padding: 100px 150px;
    justify-content: center;
}

.quote-text {
    display: flex;
    padding-bottom: 20px;
    align-self: flex-start;
}

.quote-author {
    display: flex;
    align-self: flex-end;
}